<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search Color</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Color Name">
</div>
<div *ngIf="filterText" class="alert alert-danger">
    {{filterText}} aradınız.
   </div>

<ul class="list-group">
    <thead>
        <tr>
            <th>ColorName</th>
        </tr>
    </thead>
    <li [class]="getAllColorClass()" routerLink="colors">Get All Cars</li>
    <li  *ngFor="let color of colors | colorfilter:filterText"
    (click)="setCurrentColor(color)"
    routerLink="cars/color/{{color.colorId}}"
    [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
</ul>
<h5 *ngIf="currentColor">{{currentColor.colorName}}</h5>