<body class="bg-light">

    <div class="container">
      <main>
        <div class="text-center">
          <h1 style="background-color:powderblue;">REGISTER</h1>
        </div>
  
        <div class="row g-3">
  
          <form [formGroup]="userModel" class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="firstName" value=""
                  required>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="LastName" value=""
                  required>
              </div>
  
              <div class="col-sm-6">
                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
              </div>
  
              <div class="col-sm-6">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password" placeholder="********" value="" required
                  formControlName="password">
              </div>
            </div>
            <br>
            <button (click)="registerUser()" class="w-100 btn btn-primary btn-lg" type="submit">register</button>
          </form>
        </div>
      </main>
