<p>color-all works!</p>
<p>brand-all works!</p>
<table class="table table-bordered table-condensed table-hover" >
    <thead class="thead-dark">
        <tr>
            <th>ColorId</th>
            <th>color</th>
            <th>Buttons</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of colors">
          <td>{{color.colorId}}</td>
          <td>{{ color.colorName }}</td>
          <td class="operations">
            <button class="btn btn-info" routerLink="/colors/update/{{color.colorId}}" >Update</button>
            <button class="btn btn-primary" (click)="deleteColor(color)">Delete</button>
          </td>
        </tr>
      </tbody>
</table>