<!--Data loadded false iken calıs dedik.-->
<!--Data loadded false iken calıs dedik.-->
<div>
<div *ngIf="dataloaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search Car</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Car Name">
</div>
<div *ngIf="filterText" class="alert alert-danger">
    {{filterText}} aradınız.
   </div>

<table *ngIf="dataloaded==true" class="table table-dark" >
    <thead>
        <tr>
            <th>CarName</th>
            <th>Brand</th>
            <th>Color</th>
            <th>DailyPrice</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars |filterpipe:filterText" (click)="goToImage(car.carId)" >
        <td>{{car.carName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice |vatAdded:10 |currency}}</td>
        <td>{{car.categoryName}}</td>
        <td><button routerLink="/cars/car-image/{{car.carId}}" type="button" class="btn btn-outline-danger" click="toastr">Detaya Git</button></td>
    </tr>
    </tbody>
</table>
<div style="background-image: url('siyah bg.jpg');"> 
</div>