 <div class="filter" align="center">
    <div class="row">
        <div class="col-md-5" >
            <label for="brands" >Choose a Brand: </label>
            <br>
            <select class="form-select" id="brandselect" [(ngModel)]="currentBrandId" >
                <option 
                [ngValue]="undefined" disabled  selected> 
               ### Choose Brand ###
            </option> 
            <option 
                *ngFor="let brand of brands" [value]="brand.brandId" 
                 [selected]="setCurrentBrand(brand.brandId)">{{brand.brandName}}</option>
            </select> 
        </div> 
        
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <div class="col-md-5" >
            <label for="cars" >Choose a Color: </label>
            <br>
            <select class="form-select" id="colorselect" [(ngModel)]="currentColorId"  >
                <option 
                    [ngValue]="undefined" disabled  selected> 
                        ### Choose Color ###
                    </option>
                    <option 
                    *ngFor="let color of colors" 
                    [value]="color.colorId" 
                    [selected]="setCurrentColor(color.colorId)">
                    {{color.colorName}}
                </option>
            </select> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3" >
            <br>
            <button class="btn btn-success"
            routerLink="/cars/filter/{{currentBrandId}}/{{currentColorId}}">filitrele</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3" >
            <br>
            <button class="btn btn-danger"
            routerLink="/cars">Temizle</button>
        </div>
    </div>
</div>
<br> 
